<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brain Stroke Prediction</title>
  </head>

  <body style="background-color: rgb(255, 255, 255);">

    <hr size="10" color="red">
    <center>
      <img src="../static/images.jfif" alt="carImage" height="80", width="180">
      <h1 color="blue">Jupiter Neurology Hospital</h1>
      <h3><em>You can rise up from anything....</em></h3>
      <hr size="5" color="red">
    <center>

    <center>
        <h2>Prediction : {{ans}}</h2>
        <img src="../static/can.jpg" alt="carImage" height="200", width="320">
    </center>